table {
    border-collapse: collapse;
    width: 100%;
    td, th {
        border-bottom: 1px solid #ddd;
        padding: 8px;
        color: white;
    }
    th {
        padding: {
            top: 12px;
            bottom: 12px;
        }
        text-align: center;
    }
}
