$mobile: 636px;

@mixin stand-cont {
    background-color: #3E5E7E;
    margin: auto;
    width: 90%;
    height: 80%;
    @media(max-width: $mobile) {
        width: 100vw;
        height: 100vh;
    }
}

.container-absen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    @include stand-cont;
}

.container-karyawan-tabel {
    @include stand-cont;
}

.container-account {
    @include stand-cont;
    display: grid;
    grid-template-columns: 1fr 2fr;
    @media(max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}
