$input-color: #2e4468;

.box1{
    margin: 0.5rem;
    display: grid;
    .masuk {
        border: none;
        color: white;
        background-color: green;
        margin: 0.5rem;
    }
    .keluar{
        border: none;
        color: white;
        background-color: red;
        margin: 0.5rem;
    }
}

.box2{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    input[name="header"] {
        color: white;
        background-color: $input-color;
        border: none;
        padding: 1rem;
        margin: 1rem;
    }
    select {
        border: none;
        background-color: #272727;
        color: white;
        padding: 1rem;
        margin: 1rem;
    }
    textarea {
        resize: none;
        height: 5rem;
        border: none;
        color: white;
        background-color: $input-color;
        padding: 1rem;
        margin: 1rem;
    }
    input[type="file"] {
        margin: 1rem;
    }
    button {
        border: none;
        color: white;
        background-color: green;
        padding: 1rem;
        margin: 1rem;
    }
}
