$input-color: #2C3E50;

.helper-box {
    select {
        color: white;
        background-color: $input-color;
    }
    input[type="search"] {
        color: white;
        background-color: $input-color;
    }
}
