$mobile: 636px;

.navwrapper {
    background-color: rgba(196, 181, 253, 1);
    padding: 1rem;
    nav {
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            li {
                @media(max-width: $mobile) {
                    justify-self: center;
                    margin: 0.15rem;
                }
            }
            .special-li {
                justify-self: end;
                @media(max-width: $mobile) {
                    justify-self: center;
                }
            }
        }
    }
}
