.navbar {
    width: 100vw;
    padding: 1rem;
    a{
        padding: 0 .5rem;
    }
    ul {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        li {
            /* color: white; */
            margin: {
                left: .5rem;
                right: .5rem;
            } 
        }
    }
    div {
        float: right;
        text-align: center;
    }
}