$input-color: #2e4468;

.box2diff{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border: 0.1px solid white;
    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
            color: white;
            margin-bottom: 0.24rem;
        }
        input {
            border: none;
            background-color: $input-color;
            color: white
        }
    }
    .twobtn {
        display: flex;
        flex-direction: row;
        margin: {
            top: auto;
            left: auto;
        }
    }
}
