.loginbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 58, 138, 1);
    padding: 2rem;
    h1 {
        color: white;
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin: 1rem;
    }
    .field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        label{
            color: white;
        }
        input {
            background-color: rgba(99, 102, 241, 1);
        }
    }
    button {
        color: white;
        background-color: rgba(110, 231, 183, 1);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        margin-bottom: 1rem;
    }
    a {
        color: white;
        margin-bottom: 1rem;
    }
}
