@mixin limiter {
    border: none;
    border-bottom: 0.1px solid white;
}

.buttons {
    display: flex;
    flex-direction: row;
}

table {
    background-color: #3B5976;
    tr {
        th {
            @include limiter;
        }
        td {
            @include limiter;
        }
    }
}
