.field {
    display: flex;
    flex-direction: column;
    margin: {
        bottom: 1rem;
    }
}

.login_btn {
    background-color: hsl(187, 62%, 53%);
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
    &:hover {
        background-color: hsl(198, 59%, 56%);
    }
}

.useful_links {
    margin-bottom: 1rem;
}

.login_btn {
    padding: .5rem 1rem;
    margin-bottom: 2rem;
}